/*Utilizado para index y Pag1*/
/*font-family: 'Merriweather', serif;*/
p {
    color: rgb(194, 16, 16);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: rgb(24, 24, 172);
    font-size: 25PX;
    text-align: center;

}

H1 {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

form {
    background-color: aqua;
}

.desazul {
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
}

.desrojo {
    color: rgb(194, 16, 16);
    font-weight: bold;
    text-transform: uppercase;
}

#importante {
    width: 300px;
    height: 200px;
    background-color: rgb(61, 140, 231);
    padding: 20px;
    /*margen dentro del box*/
    box-sizing: border-box;
    /*ajusta el box*/
    border-radius: 10px;
    font-family: 'Merriweather', serif;
}

#txtnegrita {
    font-weight: bold;
    background: #f6a75b;
    background: linear-gradient(346deg, #f6a75b 0%, #7fe27f 80%);
    background: -webkit-linear-gradient(346deg, #f6a75b 0%, #7fe27f 80%);
    background: -moz-linear-gradient(346deg, #f6a75b 0%, #7fe27f 80%);
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
}


.imagenfid {
    width: 400px;
    height: 300px;
    background-color: #7fe27f;
    margin:auto;
    text-align: center;
     
}
.imagenfid img {
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 47px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 47px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 47px 4px rgba(0, 0, 0, 0.75);
    

}