/*font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;*/

/*----------Header----------*/
header {
    background: rgba(27, 146, 64, 0.67);
    background: linear-gradient(180deg, rgba(27, 146, 64, 0.67) 20%, #f3f3f3 80%);
    background: -webkit-linear-gradient(180deg, rgba(27, 146, 64, 0.67) 20%, #f3f3f3 80%);
    background: -moz-linear-gradient(180deg, rgba(27, 146, 64, 0.67) 20%, #f3f3f3 80%);
    padding: 16px;
    display: flex;

}

.titulo {
    display: flex;
    align-items: flex-end;
    padding: 5px;

}

.box {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border: 3px solid #000000;
    justify-content: center;
    align-items: center;
}

.texto-titulo {
    padding-left: 30px;
}


/*----------Body----------*/

body {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 20px;
}

.carousel-inner {
    max-height: 400px;


}

.carousel-item {
    margin-left: 9.0rem;


}

footer {
    background-color: #329d32;
    clear: both;
    color: #333;
    text-align: center;
    padding: 30px 0;
    margin-top: 0;
}

.atencion {
    background: #ffffff;
    background: linear-gradient(270deg, #ffffff 0%, #329d32 80%);
    background: -webkit-linear-gradient(270deg, #ffffff 0%, #329d32 80%);
    background: -moz-linear-gradient(270deg, #ffffff 0%, #329d32 80%);
    clear: both;

    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;

}

.atencion h4 {
    font-size: 2.5rem;
    margin-bottom: 30px;

}

.contenedor-horarios {
    display: flex;
    justify-content: space-evenly;

}

.dia {
    border-radius: 20px 20px 20px 20px;
    border: 3px solid #130200;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    background: #15ba45;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;


}

.dia p {
    margin-top: 15px;
}

/*----------Pag 2 nosotros----------*/

.nosotros {
    padding: 30px;

}

.nosotros h2 {
    background-color: #329d32;
    color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    border: 3px solid #130200;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

}

.contenedor-nosotros {
    display: flex;
    justify-content: space-evenly;


}

.imagen-nosotros {
    width: 40%;
    margin-right: 10%;

}

.contenedor-nosotros-texto h3 span {
    background-color: #329d32;
    color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    border: 3px solid #130200;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    display: inline-block;
    text-align: center;
    width: 300px;


}

.texto1 {
    padding: 20px;
}

.contenedor-nosotros-texto {
    width: 40%;
    padding: 10px;
    background-color: hsla(120, 68%, 49%, 0.158);
    border-radius: 10%;
    align-items: center;
    justify-content: center;
}

.ubicacion{
    text-align: center;
    
    justify-content: center;

}

.ubicacion h3 span {

    background-color: #329d32;
    color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    border: 3px solid #130200;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    display: inline-block;
    text-align: center;
    width: 300px;
}